# editors
./.DS_Store
./*/.DS_Store
./*/*/.DS_Store

# Ignore tmux plugin repos
./src/tmux/plugins/
src/tmux/plugins/

# node modules
*/node_modules
**/node_modules

# python
./__pycache__
**/__pycache__
