# zsh custom aliases
# author: Charlynder
# date created: 08.28.2025

# --- alias:functionality ---
alias cls="command clear"
alias ls="command eza --color=auto"
alias la="command eza -al --icons --color=auto"
alias lla="command eza -al --icons --color=auto"
alias ll="command eza -l --icons --color=auto"
alias reload="source ~/.zshrc"

# --- alias:programming ---
alias y="yazi"
alias py="python3"
alias ipy="ipython3"
alias swiftinit="swift package init"
alias sps="swift package show-dependencies"
alias spt="swift package test"
alias jv="java"
alias jc="javac"
alias rn="rustc"
alias cr="cargo run"

# --- alias:alias ---
alias lz="lazygit"

# --- alias:application ---
alias mux="command tmux"
alias b="command btop"
alias f="fzf"

# --- alias:suffix ---
alias -s md="$EDITOR"
alias -s rs="$EDITOR"
alias -s swift="$EDITOR"
alias -s py="$EDITOR"
alias -s c="$EDITOR"
alias -s cr="$EDITOR"
