# zsh costum aliases
#
# author: Charlynder
# date created: 08.28.2025

# functionality aliases
alias -g cls="command clear"
alias -g ls="command eza"
alias -g lsi="command eza --icons --time-style=long-iso"
alias -g tree="command eza -T"
alias -g nf="command fastfetch"
alias -g neofetch="command fastfetch"
alias -g htop="command btop"
alias -g bt="command btop"
alias -g nv="nvim"
alias -g tx="command tmux"
alias -g la="ls -a "
